{% extends 'base.html' %}


{% block title %}Change your password{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Change password</li>
{% endblock %}

{% block content%}
<div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12">
        <p>Enter your new password.</p>
        <form method="post" novalidate>
          {% csrf_token %}
          {% include 'includes/forms.html' %}
          <button type="submit" class="btn btn-primary btn-block">Change password</button>
        </form>
    </div>
</div>
{% endblock %}
